<p>
  dashboard works!
</p>

<md-menu #menu="mdMenu"  y-position="above" x-position="before">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>
<button md-button [mdMenuTriggerFor]="menu">Menu</button>

<div class="button-row">
  <button md-button>Basic</button>
  <button md-button color="primary">Primary</button>
  <button md-button color="accent">Accent</button>
  <button md-button color="warn">Warn</button>
  <button md-button disabled>Disabled</button>
  <a md-button routerLink=".">Link</a>
</div>
<div class="button-row">
  <button md-button>Basic</button>
  <button md-button color="primary">Primary</button>
  <button md-button color="accent">Accent</button>
  <button md-button color="warn">Warn</button>
  <button md-button disabled>Disabled</button>
  <a md-button routerLink=".">Link</a>
</div>
<div class="button-row">
  <button md-raised-button>Basic</button>
  <button md-raised-button color="primary">Primary</button>
  <button md-raised-button color="accent">Accent</button>
  <button md-raised-button color="warn">Warn</button>
  <button md-raised-button disabled>Disabled</button>
  <a md-raised-button routerLink=".">Link</a>
</div>
<md-card>
  
</md-card>
<p>
  dashboard works!
</p>
<div class="button-row">
  <button md-button>Basic</button>
  <button md-button color="primary">Primary</button>
  <button md-button color="accent">Accent</button>
  <button md-button color="warn">Warn</button>
  <button md-button disabled>Disabled</button>
  <a md-button routerLink=".">Link</a>
</div>
<div class="button-row">
  <button md-button>Basic</button>
  <button md-button color="primary">Primary</button>
  <button md-button color="accent">Accent</button>
  <button md-button color="warn">Warn</button>
  <button md-button disabled>Disabled</button>
  <a md-button routerLink=".">Link</a>
</div>
<div class="button-row">
  <button md-raised-button>Basic</button>
  <button md-raised-button color="primary">Primary</button>
  <button md-raised-button color="accent">Accent</button>
  <button md-raised-button color="warn">Warn</button>
  <button md-raised-button disabled>Disabled</button>
  <a md-raised-button routerLink=".">Link</a>
</div>
<md-card>
  
</md-card>
<p>
  dashboard works!
</p>
<div class="button-row">
  <button md-button>Basic</button>
  <button md-button color="primary">Primary</button>
  <button md-button color="accent">Accent</button>
  <button md-button color="warn">Warn</button>
  <button md-button disabled>Disabled</button>
  <a md-button routerLink=".">Link</a>
</div>
<div class="button-row">
  <button md-button>Basic</button>
  <button md-button color="primary">Primary</button>
  <button md-button color="accent">Accent</button>
  <button md-button color="warn">Warn</button>
  <button md-button disabled>Disabled</button>
  <a md-button routerLink=".">Link</a>
</div>
<div class="button-row">
  <button md-raised-button>Basic</button>
  <button md-raised-button color="primary">Primary</button>
  <button md-raised-button color="accent">Accent</button>
  <button md-raised-button color="warn">Warn</button>
  <button md-raised-button disabled>Disabled</button>
  <a md-raised-button routerLink=".">Link</a>
</div>
<md-card>
  
</md-card>

