<nav class="nav-g avbar navbar-toggleable-md navbar-light bg-faded">
  <a class="mat-button px-0 py-0 my-2 ml-4 mr-1"  href="/">
    <span class="mat-button-wrapper">
      <img style="height: 26px" src="./favicon.ico">
      <span>Count</span>
    </span>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a class="mat-button px-0 py-0 my-2 mx-2"  [mdMenuTriggerFor]="menupersonas">
    <span class="mat-button-wrapper">
      <span>Personas</span>
    </span>
    <div class="mat-button-focus-overlay"></div>
    <md-menu #menupersonas="mdMenu">
      <button md-menu-item>
        <i class="material-icons align-text-bottom">person</i>     
        <span>Usuarios</span>
      </button>
      <button md-menu-item disabled>
        <i class="material-icons align-text-bottom">people</i>
        <span>Clientes</span>
      </button>
      <button md-menu-item>
        <i class="material-icons align-text-bottom">work</i>
        <span>Empleados</span>
      </button>
    </md-menu>
  </a>
  <a class="mat-button px-0 py-0 my-2 mx-2"  [mdMenuTriggerFor]="menuprodcutos">
    <span class="mat-button-wrapper">
      <span>Productos</span>
    </span>
    <div class="mat-button-focus-overlay"></div>
    <md-menu #menuprodcutos="mdMenu">
      <button md-menu-item>
        <i class="material-icons align-text-bottom">business_center</i>
        <span>Administrar Productos</span>
      </button>
      <button md-menu-item disabled>
        <i class="material-icons align-text-bottom">insert_chart</i>
        <span>Kardex / inventario</span>
      </button>
    </md-menu>
  </a>
  <a class="mat-button px-0 py-0 my-2 mx-2"  [mdMenuTriggerFor]="menuventas">
    <span class="mat-button-wrapper">
      <span>Ventas</span>
    </span>
    <div class="mat-button-focus-overlay"></div>
    <md-menu #menuventas="mdMenu">
      <button md-menu-item>
        <i class="material-icons align-text-bottom">shopping_cart</i>
        <span>Facturar</span>
      </button>
      <button md-menu-item disabled>
        <i class="material-icons align-text-bottom">shop_two</i>
        <span>Administrar Ventas</span>
      </button>
      <button md-menu-item disabled>
        <i class="material-icons align-text-bottom">monetization_on</i>
        <span>Caja</span>
      </button>
    </md-menu>
  </a>
  <a class="mat-button px-0 py-0 my-2 mx-2"  [mdMenuTriggerFor]="menucontabilidad">
    <span class="mat-button-wrapper">
      <span>Contabilidad</span>
    </span>
    <div class="mat-button-focus-overlay"></div>
    <md-menu #menucontabilidad="mdMenu">
      <button md-menu-item>
        <i class="material-icons align-text-bottom">shopping_cart</i>
        <span>Detalle ventas</span>
      </button>
      <button md-menu-item disabled>
        <i class="material-icons align-text-bottom">shop</i>
        <span>Mayorizacion</span>
      </button>
    </md-menu>
  </a>

</nav>