<nav>
    <h3>Personas</h3>
    <ul>
        <li>
            
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete">
              <i class="material-icons align-text-bottom">person</i>
              <span>Usuarios</span>
            </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
              <i class="material-icons align-text-bottom">people</i>
              Clientes
            </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
              <i class="material-icons align-text-bottom">work</i>
              Empleados
            </a>
        </li>
    </ul>
</nav>
<nav>
    <h3>Productos</h3>
    <ul>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete">
              <i class="material-icons align-text-bottom">business_center</i>
              Administrar Productos
            </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
              <i class="material-icons align-text-bottom">insert_chart</i>
              Kardex / inventario
            </a>
        </li>
    </ul>
</nav>
<nav>
    <h3>Ventas</h3>
    <ul>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete">
              <i class="material-icons align-text-bottom">shopping_cart</i>
              Facturar
            </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
              <i class="material-icons align-text-bottom">shop_two</i>
              Administrar Ventas
            </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
              <i class="material-icons align-text-bottom">monetization_on</i>
              Caja
            </a>
        </li>
    </ul>
</nav>
<nav>
    <h3>Contabilidad</h3>
    <ul>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete">
              <i class="material-icons align-text-bottom">shopping_cart</i>
              Detalle ventas
            </a>
        </li>
        <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
              <i class="material-icons align-text-bottom">shop</i>
              Mayorización
            </a>
        </li>
    </ul>
</nav>
